apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  nerc.mghpcc.org/kustomized: "true"

resources:
- ../common
- clusterversion.yaml
- ingresscontrollers/external-apps-ingress-controller.yaml
