kind: ConfigMap
apiVersion: v1
metadata:
  name: observability-metrics-custom-allowlist
  namespace: open-cluster-management-observability
data:
  metrics_list.yaml: |
    names:
      - kube_persistentvolumeclaim_resource_requests_storage_bytes
      - kube_pod_spec_volumes_persistentvolumeclaims_info
      - kube_persistentvolumeclaim_info
      - kube_storageclass_info
      - kubelet_volume_stats_used_bytes
      - node_memory_MemTotal_bytes
      - node_network_receive_bytes_total
      - node_network_transmit_bytes_total
      - node_network_transmit_errs_total
      - node_network_transmit_packets_total
      - loki_distributor_bytes_received_total
      - autopilot_health_checks
      - autopilot_health_report_total
      - scrape_series_added
      - container_cpu_usage_seconds_total
      - container_memory_working_set_bytes
      - pod_cpu_usage_seconds_total
      - pod_memory_working_set_bytes
      - resource_scrape_error
      - scheduler_pending_pods
      - scheduler_pod_scheduling_attempts
      - scheduler_schedule_attempts_total
      - container_memory_usage_bytes
      - container_memory_rss
      - container_memory_cache
      - container_memory_swap
      - container_network_transmit_bytes_total
      - container_network_receive_bytes_total
      - container_fs_usage_bytes
      - container_fs_reads_total
      - container_fs_writes_total
      - container_cpu_cfs_throttled_seconds_total
      - container_memory_max_usage_bytes
      - container_memory_failures_total
    matches:
      - __name__=~"(ipmi_.*)"
      - __name__=~"(ceph_.*)"
      - __name__=~"(log_.*)"
      - __name__=~"(gpu_operator_.*)"
      - __name__=~"(DCGM_FI_.*)"
      - __name__=~"(argocd_.*)"
      - __name__=~"(kube_node_.*)"
      - __name__=~"(kube_pod_.*)"
