---
# Source: prometheus-snmp-exporter/templates/role.yaml
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: prometheus-snmp-exporter
  labels:
    helm.sh/chart: prometheus-snmp-exporter-6.0.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: metrics
    app.kubernetes.io/part-of: prometheus-snmp-exporter
    app.kubernetes.io/name: prometheus-snmp-exporter
    app.kubernetes.io/version: "v0.27.0"
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get"]
