apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  nerc.mghpcc.org/kustomized: "true"

resources:
- ../../base

patches:
- target:
    kind: PersistentVolumeClaim
    name: nfs-server-root
  patch: |
    - op: replace
      path: /spec/resources/requests/storage
      value: 25TiB
