apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vault-operator

helmCharts:
  - name: vault-operator
    namespace: vault-operator
    repo: oci://ghcr.io/bank-vaults/helm-charts
    version: 1.22.2
    includeCRDs: true
    releaseName: vault-operator
