apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: grafana
  labels:
    dashboards: grafana
    folders: grafana
spec:
  config:
    server:
      root_url: 'https://grafana.apps.obs.nerc.mghpcc.org'
    auth:
      disable_login_form: 'false'
    auth.generic_oauth:
      enabled: 'true'
      client_secret: '${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}'
      token_url: 'https://dex-dex.apps.obs.nerc.mghpcc.org/token'
      api_url: 'https://dex-dex.apps.obs.nerc.mghpcc.org/userinfo'
      name: OAuth
      email_attribute_path: email
      client_id: grafana
      role_attribute_path: >-
        contains(groups[*], 'cluster-admins') && 'Admin' ||
        contains(groups[*], 'nerc-ops')  && 'Admin' ||
        contains(groups[*], 'nerc-logs-metrics')  && 'Admin' ||
        'Deny'
      auth_url: 'https://dex-dex.apps.obs.nerc.mghpcc.org/auth'
      scopes: openid email groups profile
    log:
      mode: console
    rendering:
      server_url: 'http://grafana-image-renderer:8081/render'
      callback_url: 'http://grafana-service:3000/'
      renderer_token: '${GF_RENDERING_RENDERER_TOKEN}'
  deployment:
    spec:
      template:
        spec:
          containers:
            - image: 'grafana/grafana:11.3.0'
              name: grafana
              env:
                - name: GF_RENDERING_RENDERER_TOKEN
                  valueFrom:
                    secretKeyRef:
                      name: grafana-renderer-token
                      key: GF_RENDERING_RENDERER_TOKEN
                - name: GF_RENDERING_CALLBACK_URL
                  value: 'http://grafana-service:3000/'
              envFrom:
                - secretRef:
                    name: oauth-client-secret
                - secretRef:
                    name: grafana-sa-token
                - configMapRef:
                    name: openshift-service-ca.crt
  version: 11.3.0
