apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  nerc.mghpcc.org/bundle: xdmod-reader
resources:
- ../../base/core/namespaces/xdmod-reader/
- ../../base/rbac.authorization.k8s.io/clusterrolebindings/xdmod-reader-permissions/
- ../../base/rbac.authorization.k8s.io/clusterroles/xdmod-permissions/
