apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nvidia-gpu-operator
resources:
  - ../../base
  - configmaps/mig-manager-config.yaml
patches:
  - path: clusterpolicy/clusterpolicy_patch.yaml
