apiVersion: apps/v1
kind: Deployment
metadata:
  name: persistent-metrics-zookeeper
spec:
  replicas: 1
  revisionHistoryLimit: 0
  strategy:
    type: RollingUpdate
  template:
    metadata:
      name: persistent-metrics-zookeeper
    spec:
      containers:
        - name: persistent-metrics-zookeeper
          env:
            - name: ZOOKEEPER_HOST_NAME
              value: zookeeper-client
            - name: ZOOKEEPER_PORT
              value: '2181'
            - name: LOG_LEVEL
              value: 'WARNING'
          image: quay.io/computateorg/persistent-metrics-zookeeper:latest
          imagePullPolicy: Always
          livenessProbe:
            exec:
              command:
                - /usr/bin/curl
                - http://localhost:8081/metrics
            failureThreshold: 6
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            exec:
              command:
                - /usr/bin/curl
                - http://localhost:8081/metrics
            failureThreshold: 6
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              memory: 1Gi
              cpu: '1'
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
